{% extends 'base.html' %}
{% load static %}

{% block body %}

<style>
	.card {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	  max-width: 300px;
	  margin: auto;
	  text-align: center;
	  font-family: arial;
	}
	
	.name_title {
	  color: grey;
	  font-size: 18px;
	}
	
	.bttn {
	  border: none;
	  border-radius: 5px;
	  outline: 0;
	  display: inline-block;
	  padding: 8px;
	  color: white;
	  background-color: blue;
	  text-align: center;
	  cursor: pointer;
	  width: 100%;
	  font-size: 18px;
	}
	
	.bttn:hover {
	  opacity: 0.5;
	}
	</style>


<section class="section-conten padding-y bg" style="margin-top: 50px;margin-bottom:60px">

	<div class="container">
		<div class="row">
		<aside class="col-md-3">
			<!--   SIDEBAR   -->
			<ul class="list-group">
				<a class="list-group-item active" href="{% url 'profile' %}">Profile </a>
				<a class="text-primary list-group-item" href="{% url 'history' %}"> My order history </a>
				<a class="text-primary list-group-item" href="{% url 'transaction_history' %}"> Transactions </a>
				<a class="text-primary list-group-item" href="{% url 'completed' %}"> Received orders </a>
				<a class="text-primary list-group-item" href="{% url 'track' %}"> Track order </a>
			</ul>
			<br>
			<a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
			<!--   SIDEBAR .//END   -->
		</aside>
		<main class="col-md-9">
			<!-- <article class="card"> -->

				<div class="card">
					<img src="{% static 'images/profile.png' %}" alt="profile" style="width:30%; display: block; margin: 0 auto;">
					<h3>{{request.user.first_name}} {{request.user.last_name}}</h3>
					<p class="text-muted">{{request.user}}</p>
					<p class="name_title">Email: {{request.user.email}}</p>
					
					<div style="width: 50%; margin:auto; margin-top:20px;">
					<p><a href="{% url 'profile_update' %}" class="bttn btn-primay">Update Profile</a></p>
					</div>
				</div>
				

			<!-- </article>  -->
		</main>
	</div> <!-- row.// -->
	</div>
	
	
	</section>

{% endblock %}