{% extends 'base.html' %}
{% load static %}
{% block body %}



<!-- <div style="text-align: center;"><h2><b>Order History</b></h2></div> -->

<table class="table table-bordered table-dark" style="width: 50%; margin:auto; margin-top:100px;margin-bottom:100px; text-align:center">
    <thead>
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Amount</th>
        <th scope="col">Status</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>

     {% for order in orders %}
     {% if order.status == 'Completed' %}
      <tr>
        <td>{{order.order_number}}</td>
        <td>{{order.order_total}}</td>
        <td>{{order.status}}</td>
        <td><a href="{% url 'order_details' order.id %}" class="btn btn-primary">Details</a></td>
      </tr>
      {% else %}
      
      {% endif %}
      {% endfor %}
      
    </tbody>
  </table>

{% endblock %}